@charset "utf-8";
/* CSS Apenas para validação do ADM */

label.error{ 
	color: red;
	float: none;
	font-size: 12px;	 
	margin: 0 .5em 0 0; 
	vertical-align: top;
}

input.error{ 
	border: 1px solid red; 
}

textarea.error{ 
	border: 1px solid red; 
}


